@import url(https://fonts.googleapis.com/css?family=Raleway:500,700,900);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700italic);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #e9ebee;
}

#interactive-wrapper {
    height: auto;
    width: 100%;
    background-color: #e9ebee;
}

#quiz-wrapper {
	padding-top: 5%;
	background-color: #e9ebee;
    width: 502px;
	margin-left: auto;
	margin-right: auto;
}

#post {
	height:100px;
	width:502px;
	background-color: #fff;
	margin: auto;
	padding: 12px 12px 0;
	box-shadow: 1px 1px 1px #ccc;
	font-size: 14px;
	line-height: 1.38;
	font-weight: normal;
	font-family: Roboto, helvetica, arial, sans-serif;
}

#author-name {
	color: #365899;
	font-weight: bold;
	text-decoration: none;
}

#author-name p {
	display: inline-block;
	position: absolute;
}

#time-stamp {
	color: #90949c;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 95px;
}

#author-photo {
	border: 1px solid rgba(0, 0, 0, .1);
	height: 40px;
	width: 40px;
	background-color: #000;
	margin-right: 10px;
}

#comment-author-name {
	color: #365899;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

#comment-author-name p {
	display: inline-block;
	margin-left: 5px;
}

#post-text {
	margin-top:2%;
}

#article-wrapper {

}

.comment {
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: #f6f7f9;
    box-shadow: 1px 1px 1px #ccc;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ced0d4;
}

#playable-area {
    background-color: #f6f7f9;
}

.choice {
    cursor: pointer;
    border-bottom: 1px solid #ced0d4;
    padding-top: 5px;
    padding-bottom: 5px;
}

.choice .input {
	margin-right: 5px; 
}

.inactive {
    pointer-events: none;
}

img {
    width: 100%;
    height: auto;
}

